# dependencies
node_modules/

# models
*.pt
*.pth
backend/models/

# outputs
backend/outputs/
backend/uploads/

# Android build files
frontend/android/.cxx/
frontend/android/app/build/
frontend/android/build/

# Gradle
.gradle/

# React Native / Android
*.apk
*.aab

# CMake / native
.cxx/
# python cache
__pycache__/
*.pyc

# android native build
frontend/android/app/.cxx/
frontend/android/.cxx/

# already add but keep
frontend/android/app/build/
frontend/android/build/

backend/weights/
*.pth
*.pt